<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta19
* @link https://tabler.io
* Copyright 2018-2023 The Tabler Authors
* Copyright 2018-2023 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title data-translate="ResetPassword.Title"></title>
    <!-- CSS files -->
    <link href="./../../../dist/css/tabler.min.css?1684106062" rel="stylesheet"/>
    <link href="./../../../dist/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
    <link href="./../../../dist/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
    <link href="./../../../dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body  class=" d-flex flex-column">
    <script src="./../../../appjs/format.js"></script>
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark"><img src="./../../../dist/logo-transparent.png" height="36" alt=""></a>
        </div>
        <form class="card card-md" action="./" method="get" autocomplete="off" novalidate>
          <div class="card-body">
            <h2 class="card-title text-center mb-4" data-translate="ResetPassword.ResetPassword"></h2>
            <p class="text-muted mb-4" ata-translate="ResetPassword.EnterIdentifyer"></p>
            <div class="mb-3">
              <label class="form-label" data-translate="Register.Password1"></label>
              <div class="input-group input-group-flat">
                <input type="password" id="password1" class="form-control"  data-translate-placeholder="Login.Placeholder.Password" autocomplete="off">
                <span class="input-group-text">
                  <a
                      id="passwordToggle1"
                      class="link-secondary"
                      title="Show password"
                      data-bs-toggle="tooltip"
                      ><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path
                          d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                      </svg>
                    </a>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" data-translate="Register.Password2"></label>
              <div class="input-group input-group-flat">
                <input type="password" id="password2" class="form-control"  data-translate-placeholder="Login.Placeholder.Password" autocomplete="off">
                <span class="input-group-text">
                  <a
                      id="passwordToggle2"
                      class="link-secondary"
                      title="Show password"
                      data-bs-toggle="tooltip"
                      ><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path
                          d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                      </svg>
                    </a>
                </span>
              </div>
            </div>
            <div id="ErrorLine"></div>
            <div class="form-footer">
              <a class="btn btn-primary w-100">
                <div data-translate="ResetPassword.Button.ResetPassword"></div>
              </a>
            </div>
          </div>
        </form>
        <div class="text-center text-muted mt-3">
          <a href="./../../../login" data-translate="ResetPassword.TakeMeBack"></a>.
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="./../../../appjs/permission.js"></script>
    <script src="./../../../appjs/translate.js"></script>
    <script src="./../../../dist/js/tabler.min.js?1684106062" defer></script>
    <script src="./../../../dist/js/i18next.min.js?1684106062"></script>
    <script src="./../../../appjs/layout.js"></script>
    <script>
      // When passwordToggle is clicked, toggle the type of password field (id login_password) (VanillaJS)
      document.getElementById("passwordToggle1").addEventListener("click", function() {
        const passwordField = document.getElementById("password1");
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      });

      document.getElementById("passwordToggle2").addEventListener("click", function() {
        const passwordField = document.getElementById("password2");
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      });

      const keys = {
        "password1": "password1",
        "password2": "password2",
      }

      // Detect click of ResetPassword.Button.ResetPassword button
      document.querySelector("a.btn").addEventListener("click", function() {
        const url = window.location.href;
        const token = url.split("/").pop();

        const password1 = document.getElementById("password1").value;
        const password2 = document.getElementById("password2").value;
        if (password1 !== password2) {
          document.getElementById("password1").classList.add("is-invalid");
          document.getElementById("password2").classList.add("is-invalid");
          document.getElementById('ErrorLine').innerHTML = '<div class="alert alert-danger">' + i18next.t("Error.PasswordMatch") + '</div>';
          document.getElementById("RegSubmitButton").classList.toggle("btn-danger");
            setTimeout(() => {
              document.getElementById("RegSubmitButton").classList.toggle("btn-danger");
            }, 1500);
          return false; 
        } else {
          document.getElementById("password1").classList.remove("is-invalid");
          document.getElementById("password2").classList.remove("is-invalid");
        }

        fetch(`/api/v1/resetpassword/set/${token}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ password: password1 }),
        }).then(async (response) => {
          const response_json = await response.json();
          if (response.status == 200) {
            document.getElementById('ErrorLine').innerHTML = '<div class="alert alert-success">' + i18next.t('ResetPassword.SuccessReset') + '</div>';
            document.querySelector("a.btn").classList.toggle("btn-success");
            setTimeout(() => {
              window.location.href = "/login";
            }, 5000);
          } else {
            document.querySelector("a.btn").classList.toggle("btn-danger");
            setTimeout(() => {
              document.querySelector("a.btn").classList.toggle("btn-danger");
            }, 1500);
            if (response.status == 400) {
              if(typeof response_json.reason === "string") {
              document.getElementById('ErrorLine').innerHTML = '<div class="alert alert-danger">' + i18next.t(`Error.${response_json.message}`) + '</div>';
              return;
              }
              const input_name = response_json.reason[0].path[0];
              const input_type = response_json.reason[0].type;
              for (const key in keys) {
                document.getElementById(keys[key]).classList.remove("is-invalid");
              }
              document.getElementById('ErrorLine').innerHTML = '<div class="alert alert-danger">' + i18next.t(`Error.Joi.${input_type}`, { field: i18next.t(`Register.${capitalizeFirstLetter(input_name)}`), limit: response_json.reason[0].context?.limit, valids: response_json.reason[0].context?.valids?.join() }) + '</div>';
            } else {
              document.getElementById('ErrorLine').innerHTML = '<div class="alert alert-danger">' + i18next.t(`Register.Error.${response.status}`) + '</div>';
            }
          }
        });
      });
    </script>
  </body>
</html>