---
import Banner from "./Banner.astro";
import Goals from "./Goals.astro";
import Footer from "./Footer.astro";

import "@fontsource-variable/inter";

// TRANSLATION
import staticData from "../data/static.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{staticData.name}</title>
    <style lang="scss" is:global>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <Banner />
    <Goals />
    <Footer />
  </body>
</html>
