---
const year = new Date().getFullYear();
---

<style lang="scss">
  footer {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 3px black;
    position: relative;

    padding: 20px 0;

    .content {
      width: 1000px;
      margin: 0 auto;

      display: grid;
      grid-template-columns: 1fr 2fr;
      font-family: "Inter Variable", sans-serif;

      .logo {
        display: grid;
        grid-template-columns: 50px auto;
        gap: 5px;

        p {
          color: rgba(25, 25, 25);
          font-size: 1rem;
          line-height: 1.2rem;
          font-weight: bold;

          span {
            display: inline-block;
            margin-top: 10px;
            font-weight: normal;
            // font-size: 0.8rem;
            // line-height: 1rem;
          }
        }
        img {
          width: 50px;
        }
      }

      .links {
        display: flex;

        .group {
          margin: 0 20px;
          &:nth-child(1) {
            margin-left: auto;
          }

          p {
            color: rgba(25, 25, 25);
            font-size: 1rem;
            line-height: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
          }

          display: flex;
          flex-direction: column;

          a {
            color: rgba(25, 25, 25);
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 5px 0;
            text-decoration: none;

            width: fit-content; // hacky solution to overcome full width flex. Flex wrap should be disabled

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
</style>

<footer>
  <div class="content">
    <div class="logo">
      <img src="/logo.svg" alt="EBG.PW Logo" />
      <p>
        EBG.PW
        <br />
        <span>Elektronische Begeisterung Gemeinsam. Projekt Werkstatt </span>
        <br /><br />
        <span>&copy;2023-{year}</span>
      </p>
    </div>
    <div class="links">
      <!-- TODO -->

      <div class="group">
        <p>Links</p>

        <a href="/#" target="_blank">GitHub</a>
        <a href="/#" target="_blank">Instagram?</a>
        <a href="/#" target="_blank">Youtube? Telegram? idk</a>
        <!-- TODO: REMOVE/ADD LINKS IF NEEDED -->
      </div>

      <div class="group">
        <p>Resources</p>

        <a href="/imprint">Imprint TODO</a>
        <a href="/privacy">Privacy Policy TODO</a>
        <a href="/tos">Terms of Service TODO</a>
      </div>
    </div>
  </div>
</footer>
