---
const { level = 2, fullWidth = false } = Astro.props;
---

{
  level === 2 ? (
    <h2 class={fullWidth ? "full" : ""}>
      <slot />
    </h2>
  ) : (
    <h3 class={fullWidth ? "full" : ""}>
      <slot />
    </h3>
  )
}

<style lang="scss">
  $text: #303030;

  h2,
  h3 {
    font-family: "Inter Variable", sans-serif;
    color: $text;
    display: inline-block;

    text-align: center;
    position: relative;

    &.full {
      width: 100%;
      text-align: center;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 1rem 0 2rem;

    &::after {
      width: 90%;
      content: "";
      bottom: -0.75rem;
      position: absolute;
      height: 3px;
      border-radius: 3px;
      left: 5%;
      background-color: $text;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin: 0.8rem 0;
  }
</style>
